.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
    /* Centra las dos tablas */
}

.product-cards--container{
display: flex;
flex-wrap: wrap;
/* lo deja en cuadricula */
width: 930px;
margin: 0 auto;
}

.plans-container--slider{
    justify-content: center;
}

