/* Representa todo el documento HTML */
:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    color: var(--just-white);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    /* centra un elmento que tenga un contenedor con disply-flex */
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    /* 24px */
    font-weight: bold;
    line-height: 2.6rem;
    /* 26px dimensión de altura - salto de linea */
    color: var(--just-white);
}

.header--title-container p {
    font-size: 1.4rem;
    /* 14px */
    font-weight: 500;
    line-height: 1.8rem;
    /* 28px dimensión de altura - salto de linea */
    margin-top: 25px;
    color: var(--soft-orange);
    opacity: 0.8;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114px);
    top: 270px;
    display: block;
    margin-top: 45px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);

    /* SOMBRAS */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /* sobrepone el botón a la siguiente sección */
    border: none;
    /* en caso de que exita otro borde definido */
    border-radius: 5px;

    font-size: 1.4rem;
    /* 16px */
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/arrowDown.svg");
    background-repeat: no-repeat;
    /* evita que se repita */
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    color: var(--black);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/imgs/bitCoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    font-size: 1.4rem;
    /* 14px */
    line-height: 1.6rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 30px;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    /* no margen arriba/abajo -  calcula para que quede en el centro izq/der */
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table_bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table_bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: normal;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-image: url("./assets/icons/trendingDown.svg");
    background-size: cover;
    /* La imagen se estira para cubrir toda el área donde está puesta */
    background-repeat: no-repeat;
    background-position: center;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-image: url("./assets/icons/trendingUp.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.currency-table--date {
    width: 200px;
    margin: 15px auto 0;
    padding: 8px 16px;
    /* compacto de verdad */
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table--date p {
    margin: 0;
    /* esto evita que el <p> empuje hacia abajo */
    font-size: 1.2rem;
    line-height: 1.2rem;
    /* evita que la línea sea alta */
    color: var(--warm-black);
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo {
    position: absolute;
    left: calc(50% - 20px);
    top: -10px;

    width: 40px;
    height: 25px;

    background-image: url(assets/icons/Batata.svg);
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.product-detail--title h2 {
    color: var(--just-white);

    margin-bottom: 20px;

    font-size: 2.4rem;
    font-weight: bold;

    line-height: 2.6rem;
}

.product-detail--title p {
    color: var(--just-white);

    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: #757575;
}

.product-detail--card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;

    /* Da el efecto de card de buena calidad */
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url(assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title {
    margin-bottom: 15px;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;

    background-image: url(assets/imgs/bitcoinBaby.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    color: var(--just-white);

    padding-top: 60px;
    text-align: center;
    /* Centra el elemento */

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    /* margin-top: 50px; */
    margin-bottom: 45px;
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: #757575;
}

.plans-container--slider {
    display: flex;
    /* coloca horizontalmente las cards */
    height: 316px;
    gap: 10px;

    /* scroll horizontal */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;

    width: 70%;
    min-width: 290px;
    max-width: 300px;

    /* card */
    height: 250px;
    margin: 50px 5px 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 15px;

    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;

    top: -15px;
    left: calc(50% - 60px);

    font-size: 1.2rem;
    border-radius: 8px;

    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 1);
}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: rgba(0, 0, 0, 1)
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-bottom;

    display: inline-block;
    position: relative;
    top: -2rem;
    left: -0.3rem
}

.plan-card--saving {
    color: #757575;
    font-size: 1.2rem;
}

.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;

    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;

    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);

}

.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/arrowRight.svg);

    /* alinea la flecha con el texto */
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}