/* Representa todo el documento HTML */
:root{
/* Colores */
--bitcoin-orange: #f7931a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #201e1c;
--balck: #282623;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /* centra un elmento que tenga un contenedor con disply-flex */
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

